html {
    background-color: #ffe6cf;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    width: 100%;    
    left: 0;
}
body {
    margin: 0;
 }

#home img {
    width: 50px;
    height: auto; 
}

#home {
    color: black;
}

ul {
    list-style: none; 
    padding: 30px 0px 0px 0px; 
    line-height: 5rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 500px; 
    padding-bottom: 70px;
}

@media only screen and (max-width: 450px){
    ul {
        width: 400px; 
        margin: auto; 
    }

    li {
        padding: 5px 50px;
    }
}

li {
    border: 2px solid rgb(58, 56, 56);
    border-radius: 20px;
    font-size: 2.5rem;
    width: 200px;
    max-width: 360px;
    max-height: 100px; 
    margin: auto;
    margin-bottom: 50px;
}

#one {
    background-color: rgb(205, 52, 52); 
    box-shadow: 7px 10px rgb(124, 19, 19);
}

#two {
    background-color: rgb(65, 131, 65);
    box-shadow: 7px 10px rgb(56, 111, 36);
}

#three {
    background-color: orange;
    box-shadow: 7px 10px rgb(209, 146, 1);
}

#four {
    background-color: rgb(69, 132, 195);
    box-shadow: 7px 10px rgb(27, 91, 128);
}

#five {
    background-color: rgb(69, 132, 195);
    box-shadow: 7px 10px rgb(27, 91, 128);
}

#six {
    background-color: orange;
    box-shadow: 7px 10px rgb(209, 146, 1);
}

#seven {
    background-color: rgb(134, 10, 113); 
    box-shadow: 7px 10px rgb(80, 5, 92);
    visibility: hidden;
}

#tags {
    color: blue;
    background-color: aquamarine;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 10px;
    z-index: 10;
}

a:link {
    color: white; 
}

a:visited {
    color: white;
}

h2 {
    font-weight: bold;
}

footer {
    background-color: rgb(255, 230, 207);
    position: fixed;
    height: 30;
    margin: auto; 
    text-align: center;      
    width: 100%;
    bottom: 0;
    border-top: 0px solid rgb(215, 156, 83);
    box-shadow: 0px 1px 10px 5px rgb(215, 156, 83);
    padding: 0; 
    line-height: 0; 
    visibility: hidden;
}

.campus-map img {
    width: 100%;
    max-width: 900px; 
}

.hotels {
    line-height: 3rem;
}

.hotels #tags {
    background-color: rgb(156, 59, 59);
    color: rgb(245, 229, 229);
    border: red;
    padding: 10px;
}

iframe {
    width: 100%;
    max-width: 900px;
    margin-top: 30px; 
    padding-bottom: 50px; 
}

table {
    background-color: rgb(249, 167, 73);
}

icon {
    font-size: 2rem;
    padding-right: 10px;
    color: rgb(237, 28, 28);
    /*text-decoration-line: overline;*/ 
}

#arrow {
    color: rgb(135, 4, 4);
    font-style: italic;
}

span {
    text-decoration: underline;
}